*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}
.app_header{
  padding: 10px;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.app_header_image{
  height: 100px;
  width: 100px;
}
