*{
  margin: 0;
}

@font-face{
  font-family: button;
  src:local('button'),url(./fonts/BebasNeue-Regular.ttf);
}
.app{
  background-color: #fafafa;
}
.app_header_bar{
  background-color: white;
}

.app_posts{
  padding: 20px;
}

.app_header{

  padding: 10px;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn1{
      margin-top: 30px;
      outline:none;
      cursor: pointer;
      margin-bottom:20px;
      margin-right: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-style: inherit;
      background-color: white;
      color: black;
      font-size: 18px;
      font-family: button, cursive;
}

.btn2{
    margin-top: 38px;
    outline:none;
    cursor: pointer;
    margin-bottom:20px;
    margin-right: 12px;
    background-color: white;
    border-style: inherit;
    text-decoration: none;
    display: inline-block;
    border-style: inherit;
    background-color: red;
    color: white;
    font-size: 18px;
    font-family: button, cursive;

}
    .btn3{
    margin-top: 20px;
    border-bottom: 1px solid red;
    outline: none;
    cursor: pointer;
    margin-right: 12px;
    background-color: white;
    border-style: inherit;
    text-decoration: none;
    display: inline-block;
    border-style: inherit;
    color: black;
    font-size: 15px;
    font-family: button, cursive;

}

.app_posts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app_header_image{
  height: 100px;
  width: 200px;
  align-items: left;
  object-fit: contain;

}

.app_signup{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.unique{
  background-color: #fafafa;
}
