.post {
  max-width: 500px;
  background-color: white;
  border-top: 1px solid lightgray;
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 45px;

}

.post_image{
  width: 100%;
  object-fit: contain;
}

.post_text{
  font-weight: normal;
}

.post_header{
  display: flex;
  align-items:center;
  padding: 20px;
}

.post_avatar{
  margin-right: 10px;
}

.post_text{
  padding: 20px;
}

.post_commentbox{
  display: flex;
  margin-top: 10px;
}

.post_input{
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;

}

.post_button{
  border: none;
  border-top: 1px solid lightgray;
  flex:0;
  background-color: transparent;
}

.post_comments{
  padding: 20px;
}
